*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;border: none;
    transition: all .1s linear;
    font-family: sans-serif;
}
input{
    display: none;
   
}
::selection{
    color:transparent;
}
/* ::-webkit-scrollbar {
    width: 0;
} */
/*LOADER //////////////////////////////////////////////////////*/
.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 230, 230);
    position: fixed;
    z-index:9 ;
}
.loader img{
    position: fixed;
    z-index: 9;
    width: 100px;
    height: 20px;
}
.ring{
    width: 150px;
    height: 150px;
    
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    background-color:#fff;
    animation: haha 1.2s ease infinite;
    
}
.ring::after{
    width: 150px;
    height: 150px;
    position: absolute;
    content: '';
    border-radius: 50%;
    border-bottom: 3px solid rgb(230, 168, 55);
}
@keyframes haha{
    100%{
        transform: rotate(360deg);
    }
}
/*LOADER///////////////////////////////////////////////////////*/
#one-section{
float: right;
width: 100%;
}

.navbar{
    position: relative;
    float: right;
    width: 92%;
    height: 100px;
    background-color: rgb(247, 243, 238);
    display: flex;
    justify-content: space-between;

}
.menu{
    width: 650px;
    text-align: center;
    background-color: aqua;
    margin: auto;
}
.navbar img {
    float: left;
    margin-top: 30px;
    width: 180px;
    height: 30px;
}
ul {
    list-style-type: none;
    /* padding-left: 350px; */
    
}
ul li {
    float: left;
    
}
ul li a{
    position: relative;
    line-height: 100px;
    padding: 20px;
    font-size: 16px;
    color: rgb(78, 76, 76);
    font-weight:bolder;
    font-family: 'M PLUS 1', sans-serif;
    padding-top: 50px;
    padding-bottom: 40px;
   
    
}
ul li a:hover{
    color: rgb(238, 161, 17);
    
}

.blog_drop{
    border-top: 6px rgb(238, 161, 17) solid;
    top: 140px;
    left: 25%;
    width: 150px;
    height: 100px;
    position: absolute;
    display: inline-block;
    background-color: rgb(252, 248, 241);
    opacity: 0;
    transition:all .5s;
    z-index: -999;
}
.blog_drop .Pra{
    margin-top: -25px;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 14px;
    height: 50px;
    padding-left: 10px;
    color: black !important;
    
}
.drobdown{
    height: 60px !important;
}
.blog:hover  .blog_drop{
    top: 112px;
    opacity: 1;
    z-index: 999;
}

.navbar_button{
    position: relative;
    font-size: 17px;
    padding: 10px 80px ;
    color: white;
    background-color: rgb(228, 179, 88);
    cursor: pointer;
    
    
}

.navbar_button::before{
    content: ' ';
    position: absolute ;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgba(70, 52, 19, 0.136);
    transition: 0.3s transform;
    
   
}
.navbar_button:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    
    
}
label{
    position: absolute;
    top: 7%;
    left: 70%;
    transform: translate(-10%,-50%);
    color: red;
    display: none;
}
/* //              HOME*/
.one-photos{
    width: 92%;
    height: 84.8vh;
    background-image: url('/picture/1rasm_home.webp');
    background-repeat: no-repeat;
    float: right !important;
    
    
}












/* HOME  //             */