
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;border: none;
    transition: all .1s linear;
    font-family: sans-serif;
}
.navbar{
   
    float: right;
    width: 90%;
    height: 100px;
    background-color: rgb(247, 243, 238);
    display: flex;
    justify-content: space-between;
}
.navbar img {
    float: left;
    margin-top: 30px;
    width: 180px;
    height: 30px;
}
ul {
    list-style-type: none;

    
}
ul li {
    float: left;

}
ul li a{
    
    line-height: 100px;
    padding: 20px;
    font-size: 16px;
    color: rgb(78, 76, 76);
    font-weight:bolder;
    font-family: 'M PLUS 1', sans-serif;
    
}
ul li a:hover{
    color: rgb(238, 161, 17);
}
.blog:hover  .blog_drop{
    top: 10.4%;
    opacity: 1;
}
.blog_drop{
    border-top: 9px rgb(78, 76, 76) solid;
    top: 13.4%;
    right: 34%;
    width: 150px;
    height: 100px;
    position: absolute;
    display: inline-block;
    background-color: rgb(252, 248, 241);
    opacity: 0;
}
.blog_drop .Pra{
    margin-top: -25px;
    font-family: 'M PLUS 1', sans-serif;
    font-size: 14px;
    height: 50px;
    padding-left: 10px;
    color: black !important;
    
}

.navbar_button{
    position: relative;
    font-size: 17px;
    padding: 10px 80px ;
    color: white;
    background-color: rgb(228, 179, 88);
    cursor: pointer;
    
    
}

.navbar_button::before{
    content: ' ';
    position: absolute ;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: left;
    background-color: rgba(70, 52, 19, 0.136);
    transition: 0.3s transform;
    
   
}
.navbar_button:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    
    
}
